body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: margin-left 0.3s ease;
}

main {
    width: 95%
}

section {
    text-align: justify;
}

footer {
    text-align: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #333;
    color: white;
    transform: translateX(0);
    transition: transform 0.3s ease;
    margin-right: 20px;
}
.navbar.hidden {
    transform: translateX(-100%);
}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}
.navbar li {
    padding: 15px;
}
.navbar a {
    color: white;
    text-decoration: none;
}
.toggle-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
}
.show-btn {
    position: fixed;
    top: 10px;
    left: 0;
    width: 50px;
    height: 40px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 1000;
    text-align: center;
    line-height: 40px;
}
.navbar.hidden ~ .show-btn {
    display: block;
}
.content {
    margin-left: 230px;
    transition: margin-left 0.3s ease;
}
.navbar.hidden ~ .content {
    margin-left: 70px;
}